# dependencies
/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/

# production output
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# SQLite Database
*.db
*.db-journal

# Vercel / OS files
.vercel
.DS_Store
*.pem
